Repository peedroca/Sirius, pull requests merged in 2020-10, with the labels that each got.

#19 Alterada tela inicial do site
  src/Sirius.Web/Models/Customer.cs
  src/Sirius.Web/Properties/launchSettings.json
  src/Sirius.Web/Sirius.Web.csproj
  src/Sirius.Web/Views/Home/Index.cshtml
  src/Sirius.Web/Views/Home/configuracao.html
  src/Sirius.Web/Views/Shared/_Layout.cshtml
  src/Sirius.Web/wwwroot/css/style.css
  src/Sirius.Web/wwwroot/images/Contr.png
  src/Sirius.Web/wwwroot/images/b848506a-4877-4ec4-86d3-e9e9989c48c7.jpg
  src/Sirius.Web/wwwroot/images/bgsmart-contract.jpg
  src/Sirius.Web/wwwroot/images/facebook.png
  src/Sirius.Web/wwwroot/images/linkedin.png
  src/Sirius.Web/wwwroot/images/menu.png
  src/Sirius.Web/wwwroot/images/twitter.png
  src/Sirius.Web/wwwroot/js/app.js
  src/Sirius.Web/wwwroot/js/jquery-3.1.1.min.js
Labels: Melhoria :star2:, Web :chart_with_downwards_trend:

#17 Feature login mobile
  src/Sirius.API/Properties/launchSettings.json
  src/Sirius.Mobile/Sirius.Mobile.Android/MainActivity.cs
  src/Sirius.Mobile/Sirius.Mobile.Android/Properties/AndroidManifest.xml
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/Resource.designer.cs
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-hdpi/ic_lock_outline.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-hdpi/ic_supervised_user_circle.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-hdpi/icon.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-hdpi/launcher_foreground.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-mdpi/ic_lock_outline.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-mdpi/ic_supervised_user_circle.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-mdpi/icon.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-mdpi/launcher_foreground.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xhdpi/ic_lock_outline.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xhdpi/ic_supervised_user_circle.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xhdpi/icon.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xhdpi/launcher_foreground.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxhdpi/ic_lock_outline.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxhdpi/ic_supervised_user_circle.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxhdpi/icon.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxhdpi/launcher_foreground.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxxhdpi/ic_lock_outline.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxxhdpi/ic_supervised_user_circle.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxxhdpi/icon.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable-xxxhdpi/launcher_foreground.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable/logo_contracts_side.jpg
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable/logo_sirius.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/drawable/logo_small_sirius.png
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/mipmap-anydpi-v26/icon.xml
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/mipmap-anydpi-v26/icon_round.xml
  src/Sirius.Mobile/Sirius.Mobile.Android/Resources/xml/network_security_config.xml
  src/Sirius.Mobile/Sirius.Mobile.Android/Sirius.Mobile.Android.csproj
  src/Sirius.Mobile/Sirius.Mobile/App.xaml.cs
  src/Sirius.Mobile/Sirius.Mobile/MainPage.xaml
  src/Sirius.Mobile/Sirius.Mobile/MainPage.xaml.cs
  src/Sirius.Mobile/Sirius.Mobile/Models/User.cs
  src/Sirius.Mobile/Sirius.Mobile/Services/LoginService.cs
  src/Sirius.Mobile/Sirius.Mobile/Sirius.Mobile.csproj
  src/Sirius.Mobile/Sirius.Mobile/ViewModels/LoginViewModel.cs
  src/Sirius.Mobile/Sirius.Mobile/Views/LoginPage.xaml
  src/Sirius.Mobile/Sirius.Mobile/Views/LoginPage.xaml.cs
Labels: Melhoria :star2:, Mobile :iphone:

#21 Validacoes flunt service
  src/Orion.Sirius.sln
  src/Sirius.CrossCutting.Validations/CpfCnpjUtils.cs
  src/Sirius.CrossCutting.Validations/Sirius.CrossCutting.Validations.csproj
  src/Sirius.Domain/Models/CreateCompanyModel.cs
  src/Sirius.Domain/Models/UpdateCompanyModel.cs
  src/Sirius.Domain/Sirius.Domain.csproj
  src/Sirius.Service/Settings.cs
Labels: Melhoria :star2:, Service :package:

#22 Custumer repo
  src/Sirius.Domain/Entities/CustomerEntity.cs
  src/Sirius.Domain/Interfaces/ICustormerRepository.cs
  src/Sirius.Domain/Sirius.Domain.xml
  src/Sirius.Infra.Data/Contexts/SiriusDbContext.cs
  src/Sirius.Infra.Data/Mapping/CustomerMap.cs
  src/Sirius.Infra.Data/Repositories/CustomerRepository.cs
Labels: Melhoria :star2:, Service :package:

#23 melhoria no campo nome e navegações do menu
  src/Sirius.Web/Views/Shared/_Layout.cshtml
Labels: Web :chart_with_downwards_trend:

#25 Update API
  src/Sirius.API/Auth/TokenService.cs
  src/Sirius.API/Controllers/CompaniesController.cs
  src/Sirius.API/Controllers/LoginController.cs
  src/Sirius.API/Controllers/SmartContractsController.cs
  src/Sirius.API/Models/CompanyView.cs
  src/Sirius.API/Models/MapperProfile.cs
  src/Sirius.API/Models/SmartContractView.cs
  src/Sirius.API/Models/UserView.cs
  src/Sirius.API/Properties/launchSettings.json
  src/Sirius.API/Sirius.API.csproj
  src/Sirius.API/Startup.cs
  src/Sirius.Domain/Interfaces/ISmartContractRepository.cs
  src/Sirius.Domain/Interfaces/ISmartContractService.cs
  src/Sirius.Infra.Data/Repositories/SmartContractRepository.cs
  src/Sirius.Service/SmartContractService.cs
Labels: API :page_facing_up:, Melhoria :star2:, Service :package:

#36 Adicionada plugin de libras para melhor acessibilidade
  src/Sirius.Web/Views/Shared/_Layout.cshtml
Labels: Melhoria :star2:, Web :chart_with_downwards_trend:
